body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-flow: row wrap;

  > * {
    box-sizing: border-box;
  }

  h2 {
    flex: 70% 0;
    width: 100%;
  }

  .input-file {
    flex: 30% 0;
    display: flex;
    align-items: center;
  }

  .items-list {
    flex: 70% 0;
    border: 1px solid #eee;
    padding: 10px;

    > div {
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        width: 50%;
      }
      span:nth-child(2) {
        width: 10%;
      }
      span:nth-child(3) {
        width: 20%;
      }
    }
  }

  .item-details {
    flex: 30% 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    overflow: hidden;
    border: 1px solid #eee;

    .items-uploaded {
      width: 100%;
    }

    .items-downloaded {
      width: 100%;
    }

    .items-deleted {
      width: 100%;
    }
  }
}
